{{>head}}

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <h2>Slots</h2>
    </div>
    <div class="col-lg-6 col-sm-6 col-12">
      <p>Slots require a deposit to play with. You can play the game by clicking the button to the left and depositing bitcoins to your account.</p>
    </div>
    <div class="col-lg-6 col-sm-6 col-12">
      <p class=" pull-right"><a class="btn btn-default" href="/slots">Play Slots &raquo;</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <h2>Weekly Jackpot <small>Current JackPot: {{jackpotWeekBalance}} BTC</small></h2>
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
      <p class=" pull-right"><a class="btn btn-default" href="/jackpot/weekly">Weekly Jackpot &raquo;</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <h2>Monthly Jackpot <small>Current JackPot: {{jackpotMonthBalance}} BTC</small></h2>
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
      <p class=" pull-right"><a class="btn btn-default" href="/jackpot/monthly">Monthly Jackpot &raquo;</a></p>
    </div>
  </div>

{{>foot}}